body {
  background-color: #e3e3fb;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
  margin: 50px;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 50px;
}
.flexDisplay {
  display: flex;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.centre {
  text-align: center;
}
.sub-container1 {
  /*width: 30%;
  margin-left: l0px;*/
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  box-shadow: none;
  border: 1px solid #d4d4ce;
}
.price-btn {
  background-color: #6363ce;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}
.pricing {
  font-size: 36px;
  margin-right: 18px;
}
.rectangle1 {
  height: 30px;
  width: 70%;
  background-color: #6363ce;
  position: absolute;
  margin-top: -30px;
  margin-left: 13%;
}
.rectangle2 {
  height: 30px;
  width: 70%;
  background-color: #6363ce;
  position: absolute;
  margin-left: 13%;
  margin-top: -50px;
}
